#NavBar {
  background-color: #000000;
  height: 100%;
  width: 240px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  margin: 24px;
}

ul {
  margin: 0;
  padding: 0;
  width: 155px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

li {
  list-style: none;
  margin: 8px 0 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;

  .f-icon {
    font-size: 18px;
    width: 22px !important;
    height: 19px !important;
    color: white;
    margin: 0 5px 0 0;
  }

  .link {
    text-decoration: none !important;
    font-weight: 500;
    font-size: 18px;
    color: white;
    margin: 0 0 0 5px;
  }

  .link:hover {font-size: 20px;}

  a {text-decoration: none;}
}

.horizontalBar {
  width: 210px;
  height: 2px;
  background-color: #2d2d2d;
  margin: 20px 0 20px 0;
}